@model Business

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    Layout = "_BusinessPageLayout";
}

<h2 class="text-center">@Model.Header</h2>
<div class="col-sm-3"><img src="@Model.Picture" style="width:100%"></div>
<div class="container">
    <div class="col-sm-8">
        <div class="panel panel-primary">
            <div class="panel-body">@Model.Description<br></div>
        </div>
    </div>
    <div class="col-sm-1">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>From</th>
                    <th>To</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 1; i <= 7; i++)
                {
                    TimeSheet workday = Model.Workdays.FirstOrDefault(t => t.Weekday == i);
                    @if (workday == null)
                    {
                        <tr>
                            <td>@DayNames.days[i - 1]</td>
                            <td><div style="color: rgb(255, 0, 0)">Closed</div></td>
                            <td><div style="color: rgb(255, 0, 0)">Closed</div></td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@DayNames.days[i - 1]</td>
                            <td>@workday.From.TimeOfDay </td>
                            <td>@workday.To.TimeOfDay </td>
                        </tr>
                    }

                }



            </tbody>

        </table>
    </div>
</div>
<div class="col-sm-4">
    <h3>Contacts</h3>
    <ul>
        <li>@Model.User.Name</li>
        <li>@Model.User.Surname</li>
        <li>@Model.PhoneNumber</li>
    </ul>
</div>

<partial name="ProductSummary" for="Products"/>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

<script src="https://unpkg.com/esri-leaflet@2.5.1/dist/esri-leaflet.js"
        integrity="sha512-q7X96AASUF0hol5Ih7AeZpRF6smJS55lcvy+GLWzJfZN+31/BQ8cgNx2FGF+IQSA4z2jHwB20vml+drmooqzzQ=="
        crossorigin=""></script>

<link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.css"
      integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
      crossorigin="">
<script src="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.js"
        integrity="sha512-HrFUyCEtIpxZloTgEKKMq4RFYhxjJkCiF5sDxuAokklOeZ68U2NPfh4MFtyIVWlsKtVbK5GD2/JzFyAfvT5ejA=="
        crossorigin=""></script>

<style type="text/css">
    #mapid {
        height: 500px;
        width: 30%;
    }
</style>
<div id="mapid"></div>
<script>
    const latitude = Number("@Model.Latitude");
    const longitude = Number("@Model.Longitude");
    if (latitude && longitude) {
        const mymap = L.map('mapid').setView([latitude, longitude], 13);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: '@Configuration["Maps:AccessToken"]'
        }).addTo(mymap);

        var geocodeService = L.esri.Geocoding.geocodeService();
        geocodeService.reverse().latlng([latitude, longitude]).run(function (error, result) {
            if (error) {
                return;
            }

            L.marker(result.latlng).addTo(mymap).bindPopup(result.address.LongLabel).openPopup();
        });
    }
</script>

<div>
    @foreach (var f in Model.Feedbacks)
    {
        <partial name="FeedbackSummary" model="f"/>
    }
</div>

<form id="addFeedback">
    <div class="form-group">
        <label>Your name</label>
        <input type="text" name="@nameof(Feedback.SenderName)" class="form-control" />
    </div>

    <div class="form-group">
        <label>Feedback</label>
        <textarea name="@nameof(Feedback.Text)" class="form-control"></textarea>
    </div>
    <input type="hidden" name="@nameof(Feedback.BusinessID)" value="@Model.BusinessID"/>
    <button id="feedbackButton" class="btn btn-primary">Submit</button>
</form>

<label id="feedbackSent" hidden style="color: rgb(51, 255, 162)">Feedback successfully sent.</label>
<label id="feedbackUnsent" hidden style="color: rgb(255, 0, 0)">Something went wrong. Failed to send feedback.</label>

<script>
    $('#feedbackButton').click(function () {
        $.ajax({
             type: "POST",
             url: "/Business/AddFeedback",
             data: $("#addFeedback").serialize(),
             success: function() {
                 document.getElementById("addFeedback").style.display = "none";
                 document.getElementById("addFeedback").reset();
                 document.getElementById("feedbackSent").hidden = false;
             },
            error: function () {
                document.getElementById("feedbackUnsent").hidden = false;
             }
         });
             return false;
    });
</script>
