@model BusinessListViewModel

<form id="searchForm" asp-action="Index" asp-controller="Home" onsubmit="setQuery()">
    <h4 class="text-center">Search for a business</h4>
    <div class="form-group">
        <label asp-for="SearchResponse.OwnersSurname">By owner's surname</label>
        <input asp-for="SearchResponse.OwnersSurname" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="SearchResponse.BusinessInfo">By business's info</label>
        <input asp-for="SearchResponse.BusinessInfo" name="bi" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="SearchResponse.SearchIn">Select a search mode</label>
        <select asp-for="SearchResponse.SearchIn">
            <option value="0">Search only in header</option>
            <option value="1">Search only in description</option>
            <option value="2">Search in description and header</option>
        </select>
    </div>
    <div class="form-group">
        @for (int i = 0; i < 7; i++)
        {
            <label><input asp-for="SearchResponse.WeekdaySelected[i]"/>@DayNames.days[i]</label>
        }
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<script>
    var header = "@nameof(SearchResponse)";
    var ownersSurname = header + "_" + "@nameof(SearchResponse.OwnersSurname)";
    var businessInfo = header + "_" + "@nameof(SearchResponse.BusinessInfo)";
    var searchIn = header + "_" + "@nameof(SearchResponse.SearchIn)";
    var weekdaySelected = header + "_" + "@nameof(SearchResponse.WeekdaySelected)";

    function setQuery() {
        var osv = document.getElementById(ownersSurname).value;
        var biv = document.getElementById(businessInfo).value;
        var siv = document.getElementById(searchIn).value;
        var os = "os=" + osv;
        var bi = "bi=" + biv;
        var si = "si=" + siv;
        var w = "w=";
        for (var i = 0; i < 7; i++) {
            var current = weekdaySelected + "_" + i + "_";
            var value = document.getElementById(current).checked;
            var numericChar = value ? '1' : '0';
            w += numericChar;
        }
        var query = "";
        if (!defaultSearchFields(osv, biv, siv, w)) query = "/?" + os + "&" + bi + "&" + si + "&" + w;
        document.forms["searchForm"].action = document.forms["searchForm"].action + query;
        return true;
    }

    function defaultSearchFields(osv, biv, siv, w) {
        return (osv === null || osv === "") && (biv === null || biv === "")
            && (parseInt(siv) === 0) && (w.localeCompare("w=1111111") === 0);
    }
</script>
