@page "/orders/{productId:long}"

@layout EmptyLayout

<table class="table table-sm table-bordered table-striped">
    <tr>
        <th>Product</th>
        <th>Amount ordered</th>
        <th>Total sum for the amount</th>
        <th>Address for delivery</th>
        <th>Client's comment</th>
        <th>Date ordered</th>
    </tr>
    @if (Product?.Orders != null)
    {
    @foreach (var order in Product?.Orders)
    {
        decimal sum = order.Amount * Product.PricePerUnit;
        <tr>
            <td>@Product.Name</td>
            <td>@order.Amount</td>
            <td>@sum</td>
            <td>@order.Address</td>
            <td>@order.Comment</td>
            <td>@order.DateAdded</td>
        </tr>
    }
    }
</table>

@code {

    [Inject]
    public IServiceRepository Repository { get; set; }

    public Product Product { get; set; }

    [Parameter]
    public long ProductId { get; set; }

    protected override void OnParametersSet()
    {
        Product = Repository.Products.Include(o => o.Orders).FirstOrDefault(p => p.ProductID == ProductId);
    }

}
