@model AdminViewModel

@{
    Layout = "_AdminPageLayout";
}
<div class="login-page">

    <div class="form">
        <table class="table">
            <caption>Product statistics</caption>
            <tr>
                <th>Total users</th>
                <th>Total businesses</th>
                <th>Total products</th>
                <th> User with most businesses</th>
            </tr>
            <tr>
                <td>@Model.TotalUsers</td>
                <td>@Model.TotalBusiness</td>
                <td>@Model.TotalProducts</td>
                <td>@Model.UserWithMostBusinesess.Email (@Model.UserWithMostBusinesess.Businesses.Count)</td>
            </tr>
        </table>
    </div>
    <div class="form">
        <table class="table">
            <caption onclick="enable('businesses-table')" style="cursor:pointer">Complete business list</caption>
            <tbody id="businesses-table" style="display:none;">
                @foreach (var business in Model.Businesses)
                {
                    <tr>
                        <td>
                            <partial name="BusinessSummary" model="business" />
                            @Html.ActionLink("Remove", "DeleteBusiness", new { id = @business.BusinessID },
                             new { onclick = "return confirm('Are you sure you wish to remove this business permanently?');" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="form">
        <table class="table">
            <caption onclick="enableMultiple(['users-table-header','users-table'])" style="cursor:pointer">Complete user list</caption>
            <thead id="users-table-header" style="display:none;">
                <tr>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="users-table" style="display:none;">
                @foreach (var user in Model.Users)
                {
                    <tr style="color: white; background-color: #27303d">
                        @if (user.Businesses.Count == 0)
                        {
                            <td>User does not have businesses</td>
                        }
                        else
                        {
                            <td onclick="enableMultiple(@Html.Raw(Json.Serialize(user.Businesses.Select(business => business.BusinessID))))" style="cursor:pointer">List businesses</td>
                        }
                        <td>@user.Email</td>
                        <td>@user.Name</td>
                        <td>@user.Surname</td>
                        <td>
                            @Html.ActionLink("Remove", "DeleteUser", new { id = @user.UserID },
                                     new { onclick = "return confirm('Are you sure you wish to remove this user permanently?');" })
                        </td>
                    </tr>
                    @foreach (var business in user.Businesses)
                    {
                        <tr id="@business.BusinessID" style="display:none;">
                            <td colspan="2">@business.Header</td>
                            <td colspan="3">@business.Description</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>


    <div class="form">
        <div style="background-color:#10131a; padding: 10px; cursor:pointer"><h3 style="color: white" onclick="enableMultiple(['questions'])">Questions for administrator</h3></div>
        <div id="questions" style="display: none">
            @foreach (var questionsByEmail in Model.Questions)
            {
                var email = questionsByEmail.Key;
                <div style="width: 100vw">
                    <div style="margin: 15px">
                        <h3 style="float: left">
                            @email
                        </h3>
                        <span style="float: right; cursor:pointer">Show questions</span>
                    </div>
                    <table class="table" style="margin: 15px;">
                        <tbody id="@email" style="color: #bad7fb; background-color: #10131a">

                            @foreach (var question in questionsByEmail)
                            {
                                <tr>
                                    <td>@question.Text</td>
                                    <td>@(question.IsAnswered ? "Answered" : "Not answered")</td>
                                    <td>
                                        @if (!question.IsAnswered)
                                        {

                                            @Html.ActionLink("Answer", "AnswerQuestion", new { id = @question.QuestionId, email = question.Email })
                                        }
                                        else
                                        {
                                            @question.Response
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
    </div>

    <script>
        function enable(id) {
            const element = document.getElementById(id);
            element.style.display = element.style.display === "none" ? "table-row-group" : "none";
        }

        function enableMultiple(ids) {
            ids.forEach(id => enable(id));
        }
    </script>
