@model List<Product>

@{
    bool authorized = false;
    if(ViewBag?.userID != null && ViewBag?.userID > 0)
    {
        authorized = true;
    }
    int orderPosition = 0;
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<table>
    <tr>
        <th>Product</th>
        <th>Unit price</th>
        <th>Unit</th>
        <th>Comment</th>
        <th></th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Name</td>
            <td>@p.PricePerUnit</td>
            <td>@p.Unit</td>
            <td>@p.Comment</td>
            @if(authorized)
            {
                string order = "addOrder" + orderPosition;
                string formId = order + "form";
        <td>
            <button id="@order" type="button" class="btn btn-secondary" onclick="revealForm(this)">Order</button>
            <form hidden id="@formId">
                <div class="form-group">
                    <label>Please enter the amount</label>
                    <input type="number" name="@nameof(Order.Amount)" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Please enter the delivery address</label>
                    <input type="text" name="@nameof(Order.Address)" class="form-control" />
                </div>
                <div class="form-group">
                    <label>If you want, please add a comment</label>
                    <textarea name="@nameof(Order.Comment)" class="form-control"></textarea>
                </div>
                <input type="hidden" name="@nameof(Order.UserId)" value="@ViewBag.userID" />
                <button id="orderButton" class="btn btn-primary">Submit</button>
            </form>
            <label id="orderSent" hidden style="color: rgb(51, 255, 162)">Order successfully added.</label>
            <label id="orderUnsent" hidden style="color: rgb(255, 0, 0)">Something went wrong. Failed to add an order.</label>
        </td>
                orderPosition++;
            }
        </tr>
    }
</table>

<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <div class="modal-content">

        @foreach (var p in Model)
        {
            <div class="mySlides">
                <img src="@p.Picture" style="width:100%;">
            </div>
        }

        <div class="caption-container">
            <p id="caption"></p>
        </div>
        @{int imgcount = 1;}
        @foreach (var p in Model)
        {
            <div class="column">
                <img class="demo cursor" src="@p.Picture" onclick="currentSlide(@(imgcount++))" alt="Product: @p.Name<br />Unit price: @p.PricePerUnit<br />Unit: @p.Unit<br />Comment: @p.Comment">
            </div>
        }
    </div>
</div>

<script>
    $('#orderButton').click(function () {
        $.ajax({
            type: "POST",
            url: "/Business/AddFeedback",
            data: $("#addFeedback").serialize(),
            success: function () {
                document.getElementById("addFeedback").style.display = "none";
                document.getElementById("addFeedback").reset();
                document.getElementById("feedbackSent").hidden = false;
            },
            error: function () {
                document.getElementById("feedbackUnsent").hidden = false;
            }
        });
        return false;
    });
</script>

<script>
    function revealForm(order) {
        var form = order.id + 'form';
        document.getElementById(form).hidden = false;
        var button = order.id + '';
        document.getElementById(button).style.display = "none";
    }
</script>