@model List<Product>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<table>
    <tr>
        <th>Product</th>
        <th>Unit price</th>
        <th>Unit</th>
        <th>Comment</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Name</td>
            <td>@p.PricePerUnit</td>
            <td>@p.Unit</td>
            <td>@p.Comment</td>
        </tr>
    }
</table>

<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <div class="modal-content">

        @foreach (var p in Model)
        {
            <div class="mySlides">
                <img src="@p.Picture" style="width:100%;">
            </div>
        }

        <div class="caption-container">
            <p id="caption"></p>
        </div>
        @{int imgcount = 1;}
        @foreach (var p in Model)
        {
            <div class="column">
                <img class="demo cursor" src="@p.Picture" onclick="currentSlide(@(imgcount++))" alt="Product: @p.Name<br />Unit price: @p.PricePerUnit<br />Unit: @p.Unit<br />Comment: @p.Comment">
            </div>
        }
    </div>
</div>
