@model List<Product>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

</style>

<table>
    <tr>
        <th>Product</th>
        <th>Unit price</th>
        <th>Unit</th>
        <th>Comment</th>
        <th>Picture</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Name</td>
            <td>@p.PricePerUnit</td>
            <td>@p.Unit</td>
            <td>@p.Comment</td>
            <td><img src="@p.Picture" width ="100" height="100"/></td>
        </tr>
    }
</table>
